---
layout: default
---

<div class="home">

<h1 class="page-heading">Graphic Design</h1>
<a name="graphic-design"/>
  {% for post in site.categories.graphic-design %}

      {% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}

            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <div class="post-list-portfolio"><a href="{{ post.url }}"><img {{ html }} /></a></div>
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %}
  {% endfor %}

<h1 class="page-heading">Web Log</h1>
<a name="blog"/>
  <ul class="post-list">
  {% for post in site.categories.blog %}
    <li>

      {% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}

            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <a href="{{ post.url }}"><img {{ html }} /></a>
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %}

      <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
